In [5]:
import json
import pandas as pd

# Extract the data from Airbnb json dataset

d = open('sample_airbnb.json','r')
airbnb_data=json.load(d)

In [7]:
# Extract Hotels info and transformed into dataframe

def Hotels_info():
        
        hotel_data=[]

        for i in airbnb_data:
                data=dict(
                        id=i['_id'],
                        listing_url=i['listing_url'],
                        name=i['name'],
                        description=i['description'],
                        neighborhood_overview=i['neighborhood_overview'],
                        transit=i['transit'],
                        street=i['address']['street'],
                        suburb=i['address']['suburb'],
                        government_area=i['address']['government_area'],
                        market=i['address']['market'],
                        country=i['address']['country'],
                        country_code=i['address']['country_code'],
                        coordinates=i['address']['location'].get('coordinates'),
                        price=i['price'],
                        weekly_price=i.get('weekly_price'),
                        monthly_price=i.get('monthly_price'),
                        security_deposit=i.get('security_deposit'),
                        cleaning_fee=i.get('cleaning_fee'),
                        cancellation_policy=i['cancellation_policy'],
                        )
                hotel_data.append(data)

        Hotel_info=pd.DataFrame(hotel_data)
        Hotel_info[['security_deposit','cleaning_fee','weekly_price','monthly_price']]=Hotel_info[['security_deposit','cleaning_fee','weekly_price','monthly_price']].fillna(0)
        Hotel_info[['price','security_deposit','cleaning_fee','weekly_price','monthly_price']]=Hotel_info[['price','security_deposit','cleaning_fee','weekly_price','monthly_price']].astype(dtype='int64')
        Hotel_info['coordinates'] = [', '.join(map(str, x)) if isinstance(x, list) else '' for x in Hotel_info['coordinates']]

        
        return Hotel_info

In [8]:
import pandas as pd
Hotels_info()

,id,listing_url,name,description,neighborhood_overview,transit,street,suburb,government_area,market,country,country_code,coordinates,price,weekly_price,monthly_price,security_deposit,cleaning_fee,cancellation_policy
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,"Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"Conveniently located near 1, 2, 3, B & C subwa...","New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,"-73.96523, 40.79962",135,0,0,0,135,strict_14_with_grace_period
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,We are on the central city Blue mosque 5 minu...,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,Tram 5 minutes metro 10 minutes Bus 10 minutes,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,"28.98009, 41.0062",121,0,0,0,0,moderate
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,"114.15027, 22.28158",699,5000,0,0,0,flexible
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,House is located 5mins walk from Sham Shui Po ...,"Cheapest food, electronic device, clothing and...","Close to 3 different MTR Station, Sham shui Po...","Hong Kong , 九龍, Hong Kong",Sham Shui Po District,Sham Shui Po,Hong Kong,Hong Kong,HK,"114.1669, 22.3314",181,1350,5000,0,50,strict_14_with_grace_period
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,"This spacious, light filled studio has everyth...",Surry Hills is a vibrant eclectic community an...,Travel Card 'Opal' travel cards work on all Sy...,"Surry Hills, NSW, Australia",Darlinghurst,Sydney,Sydney,Australia,AU,"151.21554, -33.88029",181,0,0,300,50,strict_14_with_grace_period
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,,"Kadıköy, İstanbul, Turkey",Moda,Kadikoy,Istanbul,Turkey,TR,"29.03079, 40.98563",501,0,0,0,0,flexible
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,You can walk to most attractions within Lahain...,"Lahaina, HI, United States",Lahaina,Lahaina,Maui,United States,US,"-156.66752, 20.85894",220,0,0,200,315,strict_14_with_grace_period
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,,,"Hong Kong, Hong Kong Island, Hong Kong",Quarry Bay,Eastern,Hong Kong,Hong Kong,HK,"114.20722, 22.29157",400,0,0,3000,0,flexible
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,A bright large double room is available in a b...,,The flat is exactly half way between the shops...,"Bondi Beach, NSW, Australia",Bondi,Waverley,Sydney,Australia,AU,"151.26542, -33.89298",60,0,0,0,50,moderate
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,,,"Rio de Janeiro, Rio de Janeiro, Brazil",Lapa,Centro,Rio De Janeiro,Brazil,BR,"-43.173761316748546, -22.90833634089244",750,0,0,0,0,flexible

In [20]:
# Extract Rooms info and transformed into dataframe

def Room_info():
    
    room_data=[]

    for i in airbnb_data:
        data=dict(
            id=i['_id'],
            images=i['images']['picture_url'],
            property_type=i['property_type'],
            room_type=i['room_type'],
            bed_type=i['bed_type'],
            minimum_nights=i['minimum_nights'],
            maximum_nights=i['maximum_nights'],
            accommodates=i['accommodates'],
            bedrooms=i.get('bedrooms'),
            beds=i.get('beds'),
            bathrooms=i.get('bathrooms'),
            amenities=i['amenities'],
            guests_included=i['guests_included'],
            availability_30=i['availability']['availability_30'],
            availability_60=i['availability']['availability_60'],
            availability_90=i['availability']['availability_90'],
            availability_365=i['availability']['availability_365']
            )
        room_data.append(data)

    Room_info=pd.DataFrame(room_data)
    Room_info[['bedrooms','beds','bathrooms']]=Room_info[['bedrooms','beds','bathrooms']].fillna(0)
    Room_info[['bedrooms','beds','bathrooms','guests_included']]=Room_info[['bedrooms','beds','bathrooms','guests_included']].astype(dtype='int64')
    Room_info['amenities'] = [', '.join(map(str, x)) if isinstance(x, list) else '' for x in Room_info['amenities']]

    return Room_info

In [21]:
Room_info()

,id,images,property_type,room_type,bed_type,minimum_nights,maximum_nights,accommodates,bedrooms,beds,bathrooms,amenities,guests_included,availability_30,availability_60,availability_90,availability_365
0,1003530,https://a0.muscache.com/im/pictures/15074036/a...,Apartment,Private room,Real Bed,12,360,2,1,1,1,"Internet, Wifi, Air conditioning, Kitchen, Ele...",1,0,0,0,93
1,10133554,https://a0.muscache.com/im/pictures/68de30b5-e...,Bed and breakfast,Private room,Real Bed,1,1125,3,1,2,1,"Internet, Wifi, Air conditioning, Free parking...",1,30,60,90,365
2,10059872,https://a0.muscache.com/im/pictures/4533a1dc-6...,Apartment,Entire home/apt,Real Bed,4,20,3,1,2,1,"Air conditioning, Kitchen, Smoking allowed, Do...",1,0,0,0,0
3,10084023,https://a0.muscache.com/im/pictures/e6275515-7...,Guesthouse,Private room,Futon,1,500,1,1,1,1,"TV, Wifi, Air conditioning, Kitchen, Elevator,...",1,14,24,40,220
4,10091713,https://a0.muscache.com/im/pictures/f8eaba4e-d...,Apartment,Entire home/apt,Real Bed,10,21,2,0,1,1,"TV, Wifi, Kitchen, Elevator, Heating, Washer, ...",1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://a0.muscache.com/im/pictures/e40d18b2-1...,House,Entire home/apt,Real Bed,1,1125,2,2,3,1,"TV, Cable TV, Internet, Wifi, Kitchen, Buzzer/...",1,30,60,90,365
5551,9993190,https://a0.muscache.com/im/pictures/be1978c5-6...,Townhouse,Entire home/apt,Real Bed,3,365,6,2,4,2,"TV, Wifi, Air conditioning, Pool, Kitchen, Fre...",1,0,8,31,258
5552,9887054,https://a0.muscache.com/im/pictures/a39e3f36-9...,Apartment,Private room,Real Bed,3,1125,1,1,1,1,"TV, Wifi, Air conditioning, Kitchen, Elevator,...",2,18,48,78,353
5553,9907907,https://a0.muscache.com/im/pictures/17a8857a-6...,Apartment,Private room,Real Bed,3,1125,2,1,1,1,"TV, Internet, Wifi, Kitchen, Washer, Dryer, Sm...",2,0,0,0,0
5554,9936016,https://a0.muscache.com/im/pictures/9d939095-f...,Apartment,Entire home/apt,Real Bed,1,1125,6,1,2,2,"TV, Cable TV, Internet, Wifi, Air conditioning...",1,0,0,0,0

In [22]:
# Extract Hosts info and transformed into dataframe

def Host_info():

    host_data=[]

    for i in airbnb_data:
        data=dict(
            id=i['_id'],
            host_id=i['host']['host_id'],
            host_url=i['host']['host_url'],
            host_name=i['host']['host_name'],
            host_location=i['host']['host_location'],
            host_about=i['host']['host_about'],
            host_picture_url=i['host']['host_picture_url'],
            host_neighbourhood=i['host']['host_neighbourhood'],
            host_response_rate=i['host'].get('host_response_rate'),
            host_total_listings=i['host']['host_total_listings_count'],
            host_verifications=i['host']['host_verifications']
            )
        host_data.append(data)

    Host_info=pd.DataFrame(host_data)
    Host_info['host_response_rate']=Host_info['host_response_rate'].fillna(0).astype(dtype='int64')
    Host_info['host_verifications'] = [', '.join(map(str, x)) if isinstance(x, list) else '' for x in Host_info['host_verifications']]
    

    return Host_info

In [24]:
Host_info()

,id,host_id,host_url,host_name,host_location,host_about,host_picture_url,host_neighbourhood,host_response_rate,host_total_listings,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",By now I have lived longer in the city than th...,https://a0.muscache.com/im/pictures/f1022be4-e...,,100,3,"email, phone, reviews, jumio, offline_governme..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",,https://a0.muscache.com/im/pictures/user/4cb6b...,,100,2,"email, phone, facebook, reviews, jumio, offlin..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,0,1,"email, phone, reviews, jumio, government_id"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,"Hi, this is Yi from Hong Kong, nice to meet yo...",https://a0.muscache.com/im/pictures/user/a204d...,Shek Kip Mei,100,2,"email, phone, reviews, jumio, offline_governme..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia","Software developer from Sydney, Australia.",https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,0,1,"email, phone, google, reviews, jumio, offline_..."
...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,51303748,https://www.airbnb.com/users/show/51303748,Eren,"Kadikoy, Çanakkale, Turkey",,https://a0.muscache.com/im/pictures/89a1b839-2...,,0,2,"email, phone"
5551,9993190,51013381,https://www.airbnb.com/users/show/51013381,Coconut Condos,"Lahaina, Hawaii, United States",,https://a0.muscache.com/im/pictures/fa071e13-8...,,99,58,"email, phone, reviews, kba, work_email"
5552,9887054,31386255,https://www.airbnb.com/users/show/31386255,Cat,Hong Kong,,https://a0.muscache.com/im/pictures/965f2c12-5...,Causeway Bay,60,7,"email, phone, reviews"
5553,9907907,47615848,https://www.airbnb.com/users/show/47615848,Lucy,"Bondi Beach, New South Wales, Australia",,https://a0.muscache.com/im/pictures/b4675d0a-f...,,0,1,"email, phone"
5554,9936016,47092481,https://www.airbnb.com/users/show/47092481,Aliane,BR,,https://a0.muscache.com/im/pictures/4b17fc8e-4...,,0,1,phone

In [25]:
# Extract Reviews info and transformed into dataframe

def Review_info():

    review_data=[]

    for i in airbnb_data:
        data=dict(
            id=i['_id'],
            first_review=i.get('first_review'),
            last_review=i.get('last_review'),
            number_of_reviews=i['number_of_reviews'],
            overall_score=i['review_scores'].get('review_scores_accuracy'),
            cleanliness_score=i['review_scores'].get('review_scores_cleanliness'),
            checkin_score=i['review_scores'].get('review_scores_checkin'),
            communication_score=i['review_scores'].get('review_scores_communication'),
            location_score=i['review_scores'].get('review_scores_communication'),
            value_score=i['review_scores'].get('review_scores_value'),
            rating=i['review_scores'].get('review_scores_rating')
        )
        review_data.append(data)

    Review_info=pd.DataFrame(review_data)
    Review_info[['first_review','last_review']]=Review_info[['first_review','last_review']].fillna('Not Available')
    Review_info[['overall_score','cleanliness_score','checkin_score','communication_score','location_score','value_score','rating']]=Review_info[['overall_score','cleanliness_score','checkin_score','communication_score','location_score','value_score','rating']].fillna(0).astype(dtype='int64')

    return Review_info

In [26]:
Review_info()

,id,first_review,last_review,number_of_reviews,overall_score,cleanliness_score,checkin_score,communication_score,location_score,value_score,rating
0,1003530,2013-04-29 04:00:00,2018-08-12 04:00:00,70,10,9,10,10,10,10,94
1,10133554,2017-05-04 04:00:00,2018-05-07 04:00:00,29,9,9,10,10,10,9,92
2,10059872,2015-12-19 05:00:00,2018-03-27 04:00:00,3,10,10,10,10,10,8,100
3,10084023,2015-12-22 05:00:00,2019-03-01 05:00:00,81,10,8,10,10,10,10,92
4,10091713,2016-12-29 05:00:00,2018-03-18 04:00:00,64,10,9,10,10,10,9,95
...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,Not Available,Not Available,0,0,0,0,0,0,0,0
5551,9993190,2016-04-06 04:00:00,2018-08-20 04:00:00,15,10,9,10,10,10,9,92
5552,9887054,2016-10-02 04:00:00,2017-01-01 05:00:00,4,10,9,10,10,10,9,85
5553,9907907,Not Available,Not Available,0,0,0,0,0,0,0,0
5554,9936016,Not Available,Not Available,0,0,0,0,0,0,0,0

In [27]:
# Extract Review commands info and transformed into dataframe

def Review_comments_info():

    comments_data=[]

    for j in airbnb_data:
        r_list=j.get('reviews',[])
        for i in r_list:
            data=dict(
                id=i.get('listing_id'),
                comment_id=i.get('_id'),
                date=i.get('date'),
                reviewer_id=i.get('reviewer_id'),
                reviewer_name=i.get('reviewer_name'),
                comments=i.get('comments')
                )
            comments_data.append(data)

    Review_comments_info=pd.DataFrame(comments_data)
    Review_comments_info[['reviewer_name','comments']]=Review_comments_info[['reviewer_name','comments']].fillna('Not Available')

    return Review_comments_info

In [28]:
Review_comments_info()

,id,comment_id,date,reviewer_id,reviewer_name,comments
0,1003530,4351675,2013-04-29 04:00:00,3708459,Josh,i had a really pleasant stay at greta's place....
1,1003530,4848277,2013-05-28 04:00:00,4609491,Ralf,"Greta has been a great host, and her apartment..."
2,1003530,5094175,2013-06-11 04:00:00,6741662,Mame,Greta was wonderful. We arrived late at night ...
3,1003530,5497796,2013-07-02 04:00:00,474156,Lars,"Greta's place is very well located, so close t..."
4,1003530,6933005,2013-08-31 04:00:00,6067127,Nicole,I had a wonderful stay at Greta's NYC apartmen...
...,...,...,...,...,...,...
149787,9993190,311261442,2018-08-20 04:00:00,3140787,Harold,Condo is located in gated community with 3 poo...
149788,9887054,105800033,2016-10-02 04:00:00,97595938,绍彬,就是日用品不齐其他没有任何问题
149789,9887054,108875304,2016-10-17 04:00:00,97695338,Hayden,Cat is a great host and will reply as soon as ...
149790,9887054,111029283,2016-10-29 04:00:00,32130541,Dew,Cat was very helpful for our arrival and stay.
149791,9887054,124437381,2017-01-01 05:00:00,45066433,Ilia,The building itself is old and the room is har...

In [1]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in d:\airbnb\.venv\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install --upgrade mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\airbnb\.venv\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
#mysql connetor to connect with python
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="Vishnu1101")
mycursor = mydb.cursor(buffered=True,)

#create database and use for table creation
mycursor.execute('create database if not exists airbnb')
mycursor.execute('use airbnb')

In [ ]:
# Created Hotels_info table in sql database and inserted the values 

mycursor.execute('''create table if not exists hotels_info (id VARCHAR(50) PRIMARY KEY, listing_url VARCHAR(500),
                name VARCHAR(255), description TEXT, neighborhood_overview TEXT, transit TEXT, street VARCHAR(100),
                suburb VARCHAR(100), government_area VARCHAR(100), market VARCHAR(100), country VARCHAR(100),
                country_code VARCHAR(50), coordinates VARCHAR(100), price INT, weekly_price INT, monthly_price INT, 
                security_deposit INT, cleaning_fee INT, cancellation_policy VARCHAR(50))
                    ''')

insert_value='''INSERT INTO hotels_info (id, listing_url, name, description, neighborhood_overview, transit, street,suburb,
                government_area, market, country, country_code, coordinates, price, weekly_price, monthly_price,
                security_deposit, cleaning_fee, cancellation_policy) 
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

data = [tuple(row) for row in Hotels_info().values]

mycursor.executemany(insert_value,data)
mydb.commit()

In [16]:
try:
    # Create the table
    mycursor.execute('''CREATE TABLE IF NOT EXISTS hotels_info (
        id VARCHAR(50) PRIMARY KEY,
        listing_url VARCHAR(500),
        name VARCHAR(100),
        description TEXT,
        neighborhood_overview TEXT,
        transit TEXT,
        street VARCHAR(100),
        suburb VARCHAR(100),
        government_area VARCHAR(100),
        market VARCHAR(100),
        country VARCHAR(100),
        country_code VARCHAR(50),
        coordinates VARCHAR(100),
        price INT,
        weekly_price INT,
        monthly_price INT,
        security_deposit INT,
        cleaning_fee INT,
        cancellation_policy VARCHAR(50)
    )''')

    # Insert data
    insert_value = '''INSERT INTO hotels_info (id, listing_url, name, description, neighborhood_overview, transit, street, suburb,
                          government_area, market, country, country_code, coordinates, price, weekly_price, monthly_price,
                          security_deposit, cleaning_fee, cancellation_policy)
                          VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
    data = [tuple(row) for row in Hotels_info().values]

    # Execute batch
    mycursor.executemany(insert_value, data)
    mydb.commit()
    print(f"{mycursor.rowcount} rows inserted successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    mydb.rollback()
finally:
    mycursor.close()
    mydb.close()

5555 rows inserted successfully.

In [31]:
# Created Rooms_info table in sql database and inserted the values 
mycursor.execute('''create table if not exists rooms_info (id VARCHAR(50), images VARCHAR(500), property_type VARCHAR(50),
                room_type VARCHAR(50), bed_type VARCHAR(50), minimum_nights VARCHAR(10), maximum_nights VARCHAR(10),
                accommodates INT, bedrooms INT, beds INT, bathrooms INT, amenities TEXT, guests_included INT,
                availability_30 INT, availability_60 INT, availability_90 INT, availability_365 INT,
                FOREIGN KEY(id) REFERENCES hotels_info(id))
                ''') 

insert_value='''INSERT INTO rooms_info (id, images, property_type, room_type, bed_type, minimum_nights, maximum_nights,
                accommodates, bedrooms, beds, bathrooms, amenities, guests_included, availability_30, availability_60,
                availability_90, availability_365)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''

data= [tuple(row) for row in Room_info().values]

mycursor.executemany(insert_value,data)

mydb.commit()

In [38]:
mycursor.execute("alter table host_info modify column host_location varchar(255);")

In [39]:
# Created Hosts_info table in sql database and inserted the values 

mycursor.execute('''create table if not exists host_info (id VARCHAR(50), host_id VARCHAR(50), host_url VARCHAR(500),
                host_name VARCHAR(100), host_location VARCHAR(100), host_about TEXT, host_picture_url VARCHAR(500),
                host_neighbourhood VARCHAR(500), host_response_rate INT, host_total_listings INT, host_verifications VARCHAR(500),
                FOREIGN KEY(id) REFERENCES hotels_info(id))
                ''')

insert_value='''INSERT INTO host_info (id, host_id, host_url, host_name, host_location, host_about, host_picture_url,
                host_neighbourhood, host_response_rate, host_total_listings, host_verifications)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''

data= [tuple(row) for row in Host_info().values]

mycursor.executemany(insert_value,data)

mydb.commit()

In [65]:
# Assuming 'mydb' is your MySQL connection
mycursor = mydb.cursor()

# Create reviews_info table
mycursor.execute('''CREATE TABLE IF NOT EXISTS reviews_info (
                    id VARCHAR(50), 
                    first_review DATETIME, 
                    last_review DATETIME,
                    number_of_reviews INT, 
                    overall_score INT, 
                    cleanliness_score INT, 
                    checkin_score INT, 
                    communication_score INT,
                    location_score INT, 
                    value_score INT, 
                    rating INT, 
                    FOREIGN KEY(id) REFERENCES hotels_info(id))''')

insert_value = '''INSERT INTO reviews_info (id, first_review, last_review, number_of_reviews, overall_score, cleanliness_score,
                checkin_score, communication_score, location_score, value_score, rating)
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''

# Function to clean data, replacing "Not Available" with None
def clean_data(row):
    return tuple(None if val == "Not Available" else val for val in row)

# Assuming Review_info() returns the data you need to insert
data = [clean_data(row) for row in Review_info().values]

mycursor.executemany(insert_value, data)
mydb.commit()

In [64]:
# Created Comments_info table in sql database and inserted the values 

mycursor.execute('''create table if not exists comments_info (id VARCHAR(50), comment_id VARCHAR(50), date DATETIME,
                reviewer_id VARCHAR(50), reviewer_name VARCHAR(50), comments TEXT, FOREIGN KEY(id) REFERENCES hotels_info(id))
                ''')

insert_value='''INSERT INTO comments_info (id, comment_id, date, reviewer_id, reviewer_name ,comments)
                VALUES (%s,%s,%s,%s,%s,%s)'''

data= [tuple(row) for row in Review_comments_info().values]

mycursor.executemany(insert_value,data)

mydb.commit()